.navbar-brand i {
    width: 50px;
}

#main-title{
    text-align: center;
    margin: 15px 0 30px;
}

#contacts-table{
    max-width: 800px;
    margin: 0 auto;
}

#col-id{
    font-weight: bold;
}

.actions{
    text-align: right;
    width: 150px;
}

.actions i{
    font-size: 18px;
    margin-right: 5px;

}

.edit-icon{
    color: #1e7e34;
}
.check-icon{
    color: #007bff;
}

.delete-btn{
    background-color: transparent;
    border: none;
    padding: 0;
}

.delete-form{
    display: inline-block;
}

.delete-icon{
    color: #BD2130;
}

#contacts-table thead{
    color: #FFF;
    background-color: #007BFF;
}

#empty-list-text{
    text-align: center;
}

#msg{
    color: #155724;
    background: #D4EDDA;
    border: 1px solid #C3E6CB;
    padding: 10px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

.container{
    background-color: #007bff;
    max-width: 500px;
    margin: 0 auto;
}

.bold{
    font-weight: bold;
}

#back-link-container{
    display: block;
    width: 500px;
    margin: 30px;
}

#back-link{
    border: 1px solid #007BFF;
    color: #007BFF;
    border-radius: 4px;
    padding: 5px;
}

#back-link:hover{
    text-decoration: none;
}

#create-form, #edit-form{
    width: 500px;
    margin: 0 auto;
}

/* MOBILE */

@media(max-width: 480px){

    #home-link{
        display: none;
    }

}